<% content_for :title, 'Image '+ @image.id.to_s + ' | ' %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Image <%= @image.id %><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, gallery_image_path(@image.gallery, @image), method: :delete, class: 'pull-right', data: { confirm: "Are you sure?" } %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <%= link_to '<i class="fa fa-chevron-left"></i> '.html_safe+@image.gallery.name, @image.gallery, class: 'btn btn-default' %>
              <%= link_to @image.avatar.url(:original) do %>
                  <%= image_tag @image.avatar.url(:original), class: 'img-responsive' %>
              <% end %>
            </div>
            <div class="col-md-4">
              <% if @image.next %>
                  <%= link_to 'Next <i class="fa fa-chevron-right"></i>'.html_safe, gallery_image_path(@image.gallery,@image.next), class: 'btn btn-primary pull-right' %>
              <% end %>
              <% if @image.prev %>
                  <%= link_to '<i class="fa fa-chevron-left"></i> Previous'.html_safe, gallery_image_path(@image.gallery,@image.prev), class: 'btn btn-primary pull-left' %>
              <% end %><br><br>
              <div class="well">Share: <%= link_to @url, @url, target: '_blank' %></div>
              Share:
              <div class="text-center">
                <%= link_to 'https://www.facebook.com/dialog/share?
                app_id=145634995501895
                &display=popup
                &href='+@url+'
                &redirect_uri='+@url, target: '_blank' do %>
                    <i class="fa fa-facebook-square fa-4x facebook"></i>
                <% end %>
                <%= link_to 'https://twitter.com/home?status=Check%20this%20pic%3A%20'+@url, target: '_blank' do %>
                    <i class="fa fa-twitter-square fa-4x twitter"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--https://www.facebook.com/dialog/share?-->
<!--app_id=145634995501895-->
<!--&display=popup-->
<!--&href=URL_TO_SHARE-->
<!--&redirect_uri=RETURN_URL-->

<!--'https://www.facebook.com/sharer/sharer.php?u='+@url-->